name: CI

on: push

jobs:
  lint-and-typecheck:
    name: Lint and typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - run: pnpm run lint:check
      - run: pnpm run typecheck
      - run: |
          before=$(find .github/actions -type f -name "*.js" -exec md5sum {} + | awk '{print $1}' | sort | md5sum)
          echo "before: $before"
          pnpm run build-actions
          after=$(find .github/actions -type f -name "*.js" -exec md5sum {} + | awk '{print $1}' | sort | md5sum)
          echo "after: $after"
          if [ "$before" != "$after" ]; then
            echo "pn run build-actions caused a change - you probably haven't updated the action files"
            exit 1
          fi

